//quienes homos Home//
.container-fluid{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
.quienes{
	margin:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: $border-radius;
    box-shadow:$box-shadows;
    padding: 8px;
    width: 100%;

		h1.titulos  {
			display:map-get($estilos, display);
			justify-content:map-get($estilos,justify);
			align-items:map-get($estilos,align);
			font-family: $nunito;
			fonn-size:$titulos;
			color:$mirosa;
			margin-bottom: 16px;

		}
		p.quiene-somos{
			display: flex;
    		justify-content: center;
    		align-items: center;
			font-family:$nunito;
		    font-size: $bajada;
		    font-weight: 200;
		    margin-top: 8px;

		}
}

}

//QUE OFRECEOS//
.ofecemos-ofrecemos{
	width: 100%;
	margin: 32px 0px;
	.contenedor-ofrecemos{
		margin: 16px 0px;
		padding:0;
		display: flex;
		flex-direction:column;
		justify-content:center;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		
			.columna2{
				display: flex;
				display: flex;
				flex-direction:column;
				justify-content:center;
				flex-wrap: wrap;
				align-items: center;
				width: 100%;
				.sub-titulos{
					display:map-get($estilos, display);
					justify-content:map-get($estilos,justify);
					align-items:map-get($estilos,align);
				    margin: 24px;
				    font-family: $nunito;
				    color:$mirosa;
				    font-size: map-get($h2, size);
					font-weight: map-get($h2, mediun);
					padding: map-get($h2, padding);
							}
					}
				.card-container{
					display: flex;
				    flex-direction:row;
				    justify-content:space-between;
				    flex-wrap: wrap;
				    align-items: center;
				    width: 100%;
				    margin-bottom: 16px;

					.card{
						 display: flex;
					    flex-direction:column;
					    justify-content:center;
					    align-items: center;
					    width: 265px;
					    padding: 8px;
					    border-radius: 8px;
					    box-shadow:0 0 10px 0 #cacaca;
					    height: 400px;
					    margin: 8px;
					     &:hover{
								    	background: #FFCC01;
	    								
								    }
						img{}
						.card-body{
							.h4{
								font-size: 1.3rem;
    							text-align: center;
    							font-family: $nunito;

							}
							.card-text-bajada{

							}
						}
					}
				}
			}	


}



//TESTIMONIOS//
.testimonios{
	width: 100%;
	margin-top:16px;
	display:flex;
	justfy-content:center;
	align-iten:center;
	flex-direction:column;
	margin-bottom: 32px;

		div.row.containe-tes{
			display:map-get($estilos, display);
			justify-content:map-get($estilos,justify);
			align-items:map-get($estilos,align);
			flex-wrap: wrap;
			width: 100%;
			

				.columna3{
					width: 100%;
					display:map-get($estilos, display);
					justify-content:map-get($estilos,justify);
					align-items:map-get($estilos,align);
					flex-direction: column;
					font-family: $nunito;

						.sub-titulos {
							display:map-get($estilos, display);
							justify-content:map-get($estilos,justify);
							align-items:map-get($estilos,align);
						    color:$mirosa;
						    font-size: map-get($h2, size);
							font-weight: map-get($h2, mediun);
							padding: map-get($h2, padding);
							margin: 24px, 0px;
						}

						.aliniar-test{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							width: 100%;

							.card-t{
								display:map-get($estilos, display);
								justify-content:map-get($estilos,justify);
								align-items:map-get($estilos,align);
							    width: 320px;
							    height: 600px;
							    margin:0 8px;
							    flex-direction:column;
							   
															  

							    	.card-img-top{
							    		width: 320px;

							    	}
							    	.card-body-m{
							    		background-color: $mivioleta;
									    display:map-get($estilos, display);
										justify-content:map-get($estilos,justify);
										align-items:map-get($estilos,align);
									    height: auto;
									    width: 320px;
									    height: 170px;
									    flex-direction: column;
									    padding: $padding2;
									    color: $blanco;
									    font-family:$nunito;
									    transition: all 500ms ease;
							    &:hover{

								    
								    background-color:$mirosa;
								     
								    	} 
							    	}
							}
						}


				}
		}
}



 @media only screen and (min-width:320px) and (max-width: 768px){
	.container-fluid{
		display:map-get($estilos, display);
		justify-content:map-get($estilos,justify);
		align-items:map-get($estilos,align);
	    flex-direction: column;
	    margin:8px 0px;
	.quienes{
		margin: 8px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    border-radius: $border-radius;
	    box-shadow:$box-shadows;
	    padding: 8px;
	    width: 100%;

			h1.titulo  {
				text-align: center;
				font-family: $nunito;
				fonn-size:$titulos;
				color:$mirosa;

			}
			p.quiene-somos{
				display:map-get($estilos, display);
				justify-content:map-get($estilos,justify);
				align-items:map-get($estilos,align);
				font-family:$nunito;
			    font-size: $bajada;
			    font-weight: 200;

			}
	}

	}

//QUE OFRECEOS//
.ofecemos-ofrecemos{
	width: 100%;
	margin: 0;
	.contenedor-ofrecemos{
		margin: 0px;
		padding:0;
		display:map-get($estilos, display);
		justify-content:map-get($estilos,justify);
		align-items:map-get($estilos,align);
		flex-direction:column;
		flex-wrap: wrap;
		width: 100%;
		
			.columna2{
				display:map-get($estilos, display);
				justify-content:map-get($estilos,justify);
				align-items:map-get($estilos,align);
				flex-direction:column;
				flex-wrap: wrap;
				width: 100%;
				margin: 0;
				.sub-titulos{
					display:map-get($estilos, display);
					justify-content:map-get($estilos,justify);
					align-items:map-get($estilos,align);
				    margin:8px;
				    font-size: 2rem;
				    font-family: $nunito;
				    color:$mirosa;
				}
				.card-container{
					display:map-get($estilos, display);
					justify-content:map-get($estilos,justify);
					align-items:map-get($estilos,align);
				    flex-wrap: wrap;
				    width: 100%;
				    margin: 0;

					.card{
						display:map-get($estilos, display);
						justify-content:map-get($estilos,justify);
						align-items:map-get($estilos,align);
					    flex-direction:column;
					    width:100%;
					    padding: 8px;
					    border-radius: $border-radius;
	    				box-shadow:$box-shadows;
					    height: auto;
					    margin: 8px;
					    flex-wrap: wrap;
					     &:hover{
						background:$mirosa;
	    								
								    }
						img{}
						.card-body{
							.h4{
								font-size: 1.3rem;
    							align-items:map-get($estilos,align);
    							font-family: $nunito;

							}
							.card-text-bajada{

							}
						}
					}
				}
			}	


			}

}
//TESTIMONIOS//
.testimonios{
	width: 100%;
	margin-top:16px;
	justify-content:map-get($estilos,justify);
	display:map-get($estilos, display);
	align-items:map-get($estilos,align);
	flex-direction:column;
	margin-bottom: 16px;
	flex-wrap: wrap;

		div.row.containe-tes{
			justify-content:map-get($estilos,justify);
			display:map-get($estilos, display);
			align-items:map-get($estilos,align);
			width: 100%;
			flex-wrap: wrap;
				.columna3{
					width: 100%;
					display:map-get($estilos, display);
					justify-content:map-get($estilos,justify);
					align-items:map-get($estilos,align);
					flex-direction: column;
					font-family: $nunito;

						.sub-titulos {
							display:map-get($estilos, display);
							justify-content:map-get($estilos,justify);
							align-items:map-get($estilos,align);
						    color:$mirosa;
						    font-size: map-get($h2, size);
							font-weight: map-get($h2, mediun);
							padding: map-get($h2, padding);
							margin: 16px, 0px;
							text-align: center;
						}

						.aliniar-test{
							display:map-get($estilos, display);
							justify-content:map-get($estilos,justify);
							align-items:map-get($estilos,align);
							flex-wrap: wrap;
							width: 100%;

							.card-t{
								display:map-get($estilos, display);
								justify-content:map-get($estilos,justify);
								align-items:map-get($estilos,align);
							    width: 304px;
							    height: auto;
							    margin:0 8px;
							    flex-direction:column;
							   
															  

							    	.card-img-top{
							    		width: 320px;

							    	}
							    	.card-body-m{
							    		background-color: $mivioleta;
									    display:map-get($estilos, display);
										justify-content:map-get($estilos,justify);
										align-items:map-get($estilos,align);
									    height: auto;
									    width: 320px;
									    height: 170px;
									    flex-direction: column;
									    padding: $padding2;
									    color: $blanco;
									    font-family:$nunito;
									    transition: all 500ms ease;
							    &:hover{

								    
								    background-color:$mirosa;
								     
								    	} 
							    	}
							}
						}


				}
		}
}

	


}

 @media  only screen and (min-width:769px) and (max-width:1023px){
 	//QUE OFRECEOS//
.container-fluid.ofecemos-ofrecemos{
	width: 100%;
	display:map-get($estilos, display);
	align-items:map-get($estilos,align);
	.contenedor-ofrecemos{
		margin: 8px 16px;
		padding:0;
		display:map-get($estilos, display);
		justify-content:map-get($estilos,justify);
		align-items:map-get($estilos,align);
		flex-direction:column;
		width: 100%;
		
			.columna2{
				display:map-get($estilos, display);
				justify-content:map-get($estilos,justify);
				align-items:map-get($estilos,align);
				flex-direction:column;
				flex-wrap: wrap;
				width: 100%;
				h2.sub-titulos{
					display:map-get($estilos, display);
					justify-content:map-get($estilos,justify);
					align-items:map-get($estilos,align);
					width: 100%;
				    font-size: 2rem;
				    font-family: $nunito;
				    color:$mirosa;
				}
				.card-container{
					display:map-get($estilos, display);
					align-items:map-get($estilos,align);
				    flex-direction:row;
				    justify-content:space-between;
				    flex-wrap: wrap;
				    width:100%;

					.card{
						display:map-get($estilos, display);
						justify-content:map-get($estilos,justify);
						align-items:map-get($estilos,align);
					    flex-direction:column;
					    width: 240px;
					    padding: 8px;
					    border-radius: 8px;
					    box-shadow:0 0 10px 0 #cacaca;
					    height: auto;
					    margin: 8px 0px;
					    

					     &:hover{
								    	background: #FFCC01;
	    								
								    }
						img{}
						.card-body{
							.h4{
								font-size: 1.3rem;
    							text-align: center;
    							font-family: $nunito;

							}
							.card-text-bajada{

							}
						}
					}
				}
			}	


			}


}

//TESTIMONIOS//
.testimonios{
	width: 100%;
	margin-top:16px;
	justify-content:map-get($estilos,justify);
	display:map-get($estilos, display);
	align-items:map-get($estilos,align);
	flex-direction:column;
	margin-bottom: 16px;
	flex-wrap: wrap;

		div.row.containe-tes{
			justify-content:map-get($estilos,justify);
			display:map-get($estilos, display);
			align-items:map-get($estilos,align);
			width: 100%;
			flex-wrap: wrap;
				.columna3{
					width: 100%;
					display:map-get($estilos, display);
					justify-content:map-get($estilos,justify);
					align-items:map-get($estilos,align);
					flex-direction: column;
					font-family: $nunito;

						.sub-titulos {
							display:map-get($estilos, display);
							justify-content:map-get($estilos,justify);
							align-items:map-get($estilos,align);
						    color:$mirosa;
						    font-size: map-get($h2, size);
							font-weight: map-get($h2, mediun);
							padding: map-get($h2, padding);
							margin: 16px, 0px;
							text-align: center;
						}

						.aliniar-test{
							display:map-get($estilos, display);
							justify-content:space-between;
							align-items:map-get($estilos,align);
							flex-wrap: wrap;
							width: 100%;
							margin:8px 16px;

							.card-t{
								display:map-get($estilos, display);
								justify-content:map-get($estilos,justify);
								align-items:map-get($estilos,align);
							    width: 304px;
							    height: auto;
							    margin:16px 8px;
							    flex-direction:column;
							   
															  

							    	.card-img-top{
							    		width: 320px;

							    	}
							    	.card-body-m{
							    		display:map-get($estilos, display);
										justify-content:map-get($estilos,justify);
										align-items:map-get($estilos,align);
									    height: auto;
									    width: 320px;
									    height: 170px;
									    flex-direction: column;
									    padding: $padding2;
									    font-family:$nunito;
									    transition: all 500ms ease;
							    &:hover{

								    
								    background-color:$mirosa;
								     
								    	} 
							    	}
							}
						}


				}
		}
}


}

